.python_history
.keras/
.bash_history
.cache/


scripts/publish.sh
scripts/test_upload.sh


dist/*
alex_nn.egg-info/*
build/*

**/__pycache__/*
**/.ipynb_checkpoints/*
.alex.cache/*

.alex.cache/*


**/*.cfg
**/data/*

./alex-viz/*

alex/bin/*
alex/lib/*